/* Titles and headers */

.title {
  font-family: Tahoma;
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.subtitle {
  font-family: Tahoma;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.text {
  font-family: Tahoma;
  font-size: 16px;
  font-weight: regular;
  color: #000000;
}

/* Formatting */
@media screen and (max-height: 450 px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main {
  padding: 0px 15px 0px 15px;
}

h1 {
  text-align: center;
  background-color: #FFFFFF;
  padding: 0px 15px 0px 15px;
}

body {
  background-color:#FFFFFF;
  font-family: Tahoma;
  padding: 0px 15px 0px 15px;
}

footer {
  border-top: solid 2px #000;
  position: absolute;
  left: 500px;
  right: 500px;
  bottom: 0;
  text-align: center;
}

ul {
  list-style-type:square;
}

.underline {
  text-decoration:underline;
}
.text-center {
  text-align:center;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.closebtn {
  font-size: 22px;
  color: white;
  position: absolute;
  top: 5px;
  right: 0px;
  opacity: 0.75;
}

/* Style sidebar links */
.sidenav_links {
  color: #FFFFFF;
  display: block;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 32px;
  padding: 5px 0px 5px 14px;
  text-decoration: none;
}

/* Style links on mouse-over */
.sidenav_links:hover, .dropdown-btn:hover, .closebtn:hover {
  color: #B0C4DE;
}

/* Style the dropdown button */
.dropdown-btn {
  color: #FFFFFF;
  display: block;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 24px;
  padding: 5px 0 5px 14px;
  text-decoration: none;
}

.active {
  background-color: #696969;
  color: white;
}

/* Dropdown container (hidden) */
.dropdown-container {
  display: none;
}

.dropdown-container a {
  color: white;
  display: block;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 20px;
  padding: 5px 0px 5px 22px;
  text-decoration: none;
}

.dropdown-container a:hover {
  color: #F0E68C;
}