/* Titles and headers */

.title {
  font-family: "Arial", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color:#FFFAF0;
}
.subtitle {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color:#FFFAF0;
}
.text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: regular;
  color: #000000;
}

/* Formatting */
body {
  background-color:#FFFFFF;
  font-family: "Lato", sans-serif;
  margin-left: 160px;
  padding: 1px 16px;
}

.underline {
  text-decoration:underline;
}
.text-center {
  text-align:center;
}

ul {
  list-style-type:square;
}

/* Style page content */
.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450 px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* The side navigation menu */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 6px 6px 12px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #F7F7F7;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
