/* Titles and headers */

.title {
  font-family: Tahoma, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  background-color: #B0E0E6;
  text-transform: uppercase;
}
.subtitle {
  font-family: Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.text {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: regular;
  color: #000000;
}
.sticky-element {
  z-index: 2;
  position: fixed;
  top: 15px;
  left: 20px;
  color: #000000;
  background-color: #F0F8FF
}

.links-gray {
  color:#808080;
}

.links-blue {
  color:#0000FF;
}

/* Formatting */
@media screen and (max-height: 450 px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main {
  padding: 75px 25px 200px 25px;
}

h1 {
  z-index: 1;
  text-align: center;
  background-color: #F0F8FF;
  position: fixed;
  top: -10px;
  left: 0px;
  right: 0px;
}

.title-colored-box {
  z-index:1;
  position:fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background-color: #000;
  opacity: 0.75;
}

.footer-colored-box {
  z-index:1;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  opacity: 0.75;
}

body {
  background-color:#FFFFFF;
  font-family: Tahoma, sans-serif;
  padding: 75px 25px 200px 0px;
}

footer {
  z-index:2;
  border-top: solid 2px #FFFFFF;
  position: fixed;
  left: 300px;
  right: 300px;
  padding-top: 10px;
  bottom: 10px;
  text-align: center;
  color: #FFFFFF;
}

h2, h3 {
  padding: 0px 25px 0px 25px;
  display: block;
}

p, a {
  padding: 0px 25px 0px 25px;
  display: inline-block;
}


ul {
  list-style-type:square;
}

.underline {
  text-decoration:underline;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align:center;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.closebtn {
  font-size: 22px;
  color: white;
  position: absolute;
  top: 5px;
  right: 0px;
  opacity: 0.75;
}

/* Style sidebar links */
.sidenav_links {
  color: #FFFFFF;
  display: block;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  line-height: 32px;
  padding: 5px 0px 5px 14px;
  text-decoration: none;
}

/* Style links on mouse-over */
.sidenav_links:hover, .dropdown-btn:hover, .closebtn:hover {
  color: #B0C4DE;
}

/* Style the dropdown button */
.dropdown-btn {
  color: #FFFFFF;
  display: block;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 5px 0 5px 14px;
  text-decoration: none;
}

.active {
  background-color: #696969;
  color: white;
}

/* Dropdown container (hidden) */
.dropdown-container {
  display: none;
}

.dropdown-container a {
  color: white;
  display: block;
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 5px 0px 5px 22px;
  text-decoration: none;
}

.dropdown-container a:hover {
  color: #F0E68C;
}