/* Titles and headers */
.title {
  font-family: Tahoma, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  background-color: #B0E0E6;
  text-transform: uppercase;
}

.subtitle {
  font-family: Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.text {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: regular;
  color: #000000;
}

/* Formatting and spacing of specific elements*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 768px) {
  .footer-content {font-size: 0.875rem;}
  .h1-content {font-size: 0.875rem;}
}

.main {
  padding: 75px 0px 75px 0px;
}

body {
  background-color:#F8F8FF;
  font-family: Tahoma, sans-serif;
  padding: 25px 0px 75px 0px;
  margin: 0;
}

footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0 ,0, 0.85);
  color:#FFFFFF;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.85);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.footer-content {
  text-align: center;
  max-width: 90%;  
}

h1 {
  z-index: 1;
  position: fixed;
  top: -10px;
  width: 100%;
  background-color: #F0F8FF;
}

.h1-container {
  display: flex;
  justify-content: left;
  height: 50px;
}

.h1-content {
  text-align: center;
  max-width: 90%;  
}

.h1-colored-box {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0.85;
  display: flex;
}

h1, h2, h3 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0px 25px 0px 25px;
}

p {
  padding: 0px 25px 0px 25px;
  display: block;
  text-align: justify;
}

a {
  padding: 0px 0px 0px 0px;
  display: inline;
}

ul {
  list-style-type:square;
}

/* Table formatting */
table {
  margin: 15px;
  border: 1px solid black;
  border-collapse: collapse;
  width:95%;
}

th, td {
  border: 0.5px solid gray;
  padding: 8px;
  text-align: center;
}

th {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: #FFFFFF;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


/* Visual element coloring */
.sticky-element {
  z-index: 2;
  position: fixed;
  top: 15px;
  left: 10px;
  color: #000000;
  background-color: #F0F8FF
}

.links-grey {
  color:#696969;
  font-style: italic;
  text-decoration: underline;
}

.links-blue {
  color:#0000FF;
  text-decoration: none;
}

.text-center {
  text-align:center;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

.media-container img,
.media-container iframe {
  max-width: 90%;
  max-height: 90%;
}

.section-break {
  border-top: 4px dotted rgba(100, 100, 100, 0.3);
  width: 50%;
  margin: 0 auto;
  display: block;
}

.section {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border: 0.25px solid rgba(128, 128, 128, 0.25);
  margin: 15px 25px 15px 25px;
  background-color: #FFFFFF;
}

/* Special function or spacing */
.splitscreen {
  display: flex;
}

.splitscreen .left, .splitscreen .right {
  flex: 1;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 35px;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.closebtn {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 5px;
  right: 0px;
  opacity: 0.75;
}

/* Style sidebar links */
.sidenav_links {
  color: #FFFFFF;
  display: block;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  line-height: 20px;
  padding: 5px 0px 5px 14px;
  text-decoration: none;
}

/* Style links on mouse-over */
.sidenav_links:hover, .dropdown-btn:hover, .closebtn:hover {
  color: #B0C4DE;
}

/* Style the dropdown button */
.dropdown-btn {
  color: #FFFFFF;
  display: block;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  line-height: 20px;
  padding: 5px 0 5px 14px;
  text-decoration: none;
}

.active {
  background-color: #696969;
  color: white;
}

/* Dropdown container (hidden) */
.dropdown-container {
  display: none;
}

.dropdown-container a {
  color: white;
  display: block;
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 5px 0px 5px 22px;
  text-decoration: none;
}

.dropdown-container a:hover {
  color: #F0E68C;
}